body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('../img/Background.jpg');
    background-size: cover;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .index-container{
      display: flex;
      background-color: rgba(0,0,0,0.8);
  }

  .index-img{
    margin-right: 20px;
    height: 300px;
  }

  .index-about{
    color: white;
  }